<div class="colpatria">
    <img src="../assets/images/Scotiabank-Colpatria.png">
</div>

<div class="w3l-login-form">
    <h2>Verificación</h2>
    <form action="#" method="POST">

        <div class="containerFormulario">

            <div class="w3l-form-group col-lg-6 col-sm-12">
                <label>Tipo Documento:</label>
                <div class="group">
                    <i class="fas fa-id-card"></i>                   

                    <input list="type_document" name="type_Document" required="required" /> 
                    <datalist id="type_document">
                      <option value="CC">
                      <option value="TI">
                      <option value="TE">
                      <option value="CE">                                            
                    </datalist>
                </div>        
             </div>   
                
            <div class="w3l-form-group col-lg-6 col-sm-12">
                <label>Fecha Expedicion:</label>
                <div class="group">
                    <i class="fas fa-calendar"></i>
                    <input type="date" class="form-control"  required="required" />
                </div>
            </div>

            <div class="w3l-form-group col-12">
                <label>Numero Documento:</label>
                <div class="group">
                    <i class="fas fa-id-card"></i>
                    <input type="text" class="form-control" placeholder="Numero Documento" required="required" />
                </div>
            </div>


            <div class="w3l-form-group col-lg-6 col-sm-12">                    
                    <label>Nombre:</label>
                    <div class="group">
                        <i class="fas fa-user"></i>
                        <input type="text" class="form-control" placeholder="Nombre" required="required" />
                    </div>
                </div>


                <div class="w3l-form-group col-lg-6 col-sm-12">
                    <label>Apellido:</label>
                    <div class="group">
                        <i class="fas fa-user"></i>
                        <input type="text" class="form-control" placeholder="Apellido" required="required" />
                    </div>
                </div>
            

            <div class="w3l-form-group col-lg-6 col-sm-12">
                <label>Fecha Nacimiento:</label>
                <div class="group">
                    <i class="fas fa-calendar"></i>
                    <input type="date" placeholder="Fecha Nacimiento" required="required" />
                </div>
            </div>
            
            <div class=" w3l-form-group col-lg-6 col-sm-12">
                <label>Celular:</label>
                <div class="group">
                    <i class="fas fa-phone"></i>
                    <input type="number" class="form-control" placeholder="Celular" required="required" />
                </div>
            </div>

            <div class=" w3l-form-group col-12">
                <label>Correo</label>
                <div class="group">                    
                    <i class="fas fa-envelope"></i>
                    <input type="email" class="form-control" placeholder="Correo"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required="required">
                </div>
            </div>

            <button type="submit">Registrar</button>

        </div>

    </form>        
</div>
<footer>
    <p class="copyright-agileinfo"> &copy; 2021 Bootcamp Form. All Rights Reserved | Design by Squad 4 </p>
</footer>